{% extends 'articles/base.html' %}

{% block content %}
<br>
<br>

<div class="container">
    <h1 class="text-center">Administrace</h1>

    <br>
    <div class="row">
        <div class="col">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header text-center">Permanentní čísla</div>
                <div class="card-body">
                    <h5 class="card-title text-center">Počet jezdců</h5>
                    <h1 class="card-text text-center"><strong>{{ riders }}</strong></h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header text-center">Žádosti o číslo</div>
                <div class="card-body">
                    <h5 class="card-title text-center">Počet žádostí</h5>
                    <h1 class="card-text text-center">{{ reqs_plate }}</h1>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header text-center">Kluby</div>
                <div class="card-body">
                    <h5 class="card-title text-center">Aktivních klubů</h5>
                    <h1 class="card-text text-center">{{ clubs }}</h1>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header text-center">Závody</div>
                <div class="card-body">
                    <h5 class="card-title text-center">V tomto roce</h5>
                    <h1 class="card-text text-center">0</h1>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header text-center">Články</div>
                <div class="card-body">
                    <h5 class="card-title text-center">Počet článků</h5>
                    <h1 class="card-text text-center">0</h1>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary">Zkontrolovat platnost licencí</button>
        </div>
        <div class="col">
            <button class="btn btn-danger">Schválit žádosti o startovní číslo</button>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col text-center">
            <button class="btn btn-info"> Napsat nový článek</button>
        </div>


    </div>
</div>
{% endblock %}