{% extends 'articles/base.html' %}

{% block content %}

<h1>Seznam článků</h1>
<section class="u-clearfix u-section-2" id="sec-9f49">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-15 u-size-30-md u-white u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h1 class="u-text u-title u-text-1" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">664</h1>
                  <p class="u-text u-text-2">jezdců s přiděleným permanentním číslem</p>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h1 class="u-text u-title u-text-3" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">8</h1>
                  <p class="u-text u-text-4">závodů Českého poháru do konce roku</p>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-3">
                <div class="u-container-layout u-valign-middle u-container-layout-3">
                  <h1 class="u-text u-title u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">8</h1>
                  <p class="u-text u-text-6">závodů České ligy do konce roku</p>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-15 u-size-30-md u-white u-layout-cell-4">
                <div class="u-container-layout u-valign-middle u-container-layout-4">
                  <h1 class="u-text u-title u-text-7" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">8</h1>
                  <p class="u-text u-text-8">závodů Moravské ligy do konce roku</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}